/*

Author: Peter Robinson/Luke Vos
Description: Our theme
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Content

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color:#666666;
    overflow-x:hidden;
}

footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

img {
    border: 0;
}


figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 5px solid #c0c0c0;
    margin: 0 10px;
    margin-bottom: 5%;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;

}

td, th {
    border: 0px solid #dddddd;
    padding: 5px;
    text-align: center;
}


td.headertext{
    text-align: right;
    font-weight:bold;

}
td.td-element{
    text-align: left;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #ffab1f;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 20px;
}

blockquote,
q {
    quotes: "" "";
}

.address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size:15px;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 100%;
    overflow: auto;
    padding:15px;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
p {
    color: #666666;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #294a70;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 15px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3{
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

ul,
ol {
    margin: 0 0 15px 25px;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}



/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
a.cta-button-primary,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #ffab1f;
    border: medium none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px 20px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #294a70;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
   }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 6px 0 6px 9px;

}

textarea {
    padding-left: 3px;
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a,
a:visited {
    color:#294a70;
    text-decoration: inherit;
}

a:hover,
a:focus,
a:active {
    color: #6081a7;

}

a:focus {
    outline:inherit;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

#main-nav {
    background-color: #294a70;
    border-bottom: 5px solid #f4a024;
    display: block;
    float: left;
    width: 100%;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.main-navigation ul ul {
    background: #294a70 none repeat scroll 0 0;
    box-shadow: 0 1px 2px;
    display: none;
    left: 0;
    margin: 0;
    min-width: 200px;
    position: absolute;
    top: 44px;
    z-index: 9999;
}

.main-navigation ul ul ul {
    left:100%;
    top: 0
}

.main-navigation li {
    position: relative;
    display: inline-block;
    margin-bottom:0;
    float: left;
}

.main-navigation li li {
    float: none;
    display: block;
}

.main-navigation li:hover > ul{
    display: block;
}

.main-navigation ul li a {
    color: #ffffff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 25px;
    position: relative;
    z-index: 99;

}

.main-navigation ul li:first-child > a {
    border-left: 1px solid #fff;
}

.main-navigation ul li li:first-child a {
    border-left:none;
}

.main-navigation ul ul a {
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    padding: 9px 15px;
    text-align: left;
    width: 100%;
}

.main-navigation ul li.menu-item-has-children > a::after,
.main-navigation ul li.page_item_has_children > a::after {
    content: "\f107";
    font-family: fontawesome;
    margin-left: 10px;
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 12px;
}

.main-navigation ul li li.menu-item-has-children > a::after,
.main-navigation ul li li.page_item_has_children > a::after {
    content: "\f105";
    top: 10px;
}

.main-navigation ul li.menu-item-has-children a,
.main-navigation ul li.page_item_has_children a {
    padding-right: 30px;
}

.main-navigation li a:hover,
.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a ,
.main-navigation li:hover > a{
    background:#f4a024;
    color: #fff;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;

}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.alignnone{
    clear: both;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*--------------------------------------------------------------
# Content
*/

.nav-links span.current,
.nav-links a {
    background-color: #294a70;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 2px;
}
.nav-links a:hover,
a.cta-button-primary:hover,
.nav-links span.current {
    background-color: #ffab1f;
    color: #ffffff;
}

.page-links > span:first-child {
    padding: 0;
}

.page-links span {
    padding: 5px;
}


.mysides
{
    width:400px;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Custom By WEN Themes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Basic Reset By WEN Themes
--------------------------------------------------------------*/


/*Clearings*/

.clear-fix:before,
.clear-fix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}

.clear-fix:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


.container{
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.inner-wrapper{
    margin-left: -15px;
    margin-right: -15px;
}


.site-header {
    clear: both;
    padding: 20px 0;
}

.site-logo-link, .custom-logo-link{
    float: left;
    margin-right: 10px;
    max-width:300px;
}

#site-identity {
    float: left;
    margin-top: 7px;
}

.site-title {
    clear: none;
    font-family: "Merriweather Sans",sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 6px;
}


.site-logo-link > img, .custom-logo-link img {
    max-height: 110px;
    width: auto;
}
.site-description {
    color: #666666;
    font-size: 14px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-bottom: 0;
}

.site-content {
    padding:40px 0;
    float: left;
    width: 100%;
}
.home.home-content-not-enabled .site-content {
    padding: 0;
}
#tophead {
    background-color: #49688e;
    clear: both;
    font-family: "Merriweather Sans",sans-serif;
    min-height: 35px;
}



#footer-widgets {
    background-color: #294a70;
    border-top: 5px solid #ffab1f;
    float: left;
    padding: 30px 0;
    width: 100%;
}

.footer-widget-area  ul {
    margin: 0;
}

.footer-widget-area  ul li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}

.footer-widget-area ul li::before {
    color: #ffab1f;
    content: "\f101";
    display: inline-block;
    font-family: fontawesome;
    font-size: 15px;
    left: 0;
    margin-left: 5px;
    margin-right: 8px;
    position: absolute;
}


.footer-widget-area:first-child{
    border:none;
}

.footer-widget-area {
    border-left: 1px dashed #939393;
    float: left;
    height: 100%;
    padding: 0 25px;
}

#footer-widgets .inner-wrapper{
    margin-left: -25px;
    margin-right: -25px;
}

.footer-widget-area  a{
    color:#fff;
}

.footer-widget-area a:hover,
#colophon a:hover{
    color:#c2c2c2;
}


.footer-active-1{
    width: 100%;
}

.footer-active-2{
    width: 50%;
}

.footer-active-3{
    width: 33.33%;
}

.footer-active-4{
    width: 25%;
}

.site-footer {
    background-color: #15305b;
    clear: both;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 5px;
    margin-top: 5px;
}

#footer-navigation li,
#quick-links-404 ul li {
    display: inline-block;
    list-style: outside none none;
}
.footer-widget-area .education_hub_widget_social ul li {
    padding: 0;
}
.footer-widget-area .education_hub_widget_social ul li:before {
    display: none;
}

body.site-layout-boxed{
    background-color: #ddd;
}

.site-layout-boxed #tophead,
.site-layout-boxed #masthead,
.site-layout-boxed #main-nav,
.site-layout-boxed #featured-slider,
.site-layout-boxed #featured-content,
.site-layout-boxed #footer-widgets,
.site-layout-boxed #colophon {
    margin-left: -25px;
    margin-right: -25px;
}

.site-layout-boxed #tophead,
.site-layout-boxed #masthead,
.site-layout-boxed #featured-content,
.site-layout-boxed #footer-widgets,
.site-layout-boxed #colophon{
    padding-left:25px;
    padding-right:25px;
}

.site-layout-boxed #main-nav,
.site-layout-boxed #footer-widgets {
    width: 105%;
}

.site-layout-boxed #page {
    background: #ffffff;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.site-layout-fluid #page {
    background: inherit;
    box-shadow: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

.site-layout-boxed #page .container {
    padding: 0;
    width: 100%;
}

.global-layout-left-sidebar #primary {
    float: right;
}

.global-layout-three-columns #primary {
    display: inline-block;
    float: none;
    width: 50%;
}

.global-layout-three-columns #sidebar-primary {
    float: left;
    width: 25%;
}

.global-layout-no-sidebar #primary{
    width: 100%;
}

.site-layout-fluid #featured-slider .container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.site-layout-fluid #main-slider {
    margin: 0;
}


.entry-footer > span,
.entry-meta > span{
    margin-right: 15px;
}


section.error-404 {
    text-align: center;
}

h2.error-title {
    font-size: 113px;
    font-style: italic;
    text-shadow: 3px 3px 0 #ffab1f;
}



#quick-links-404 ul li a{
    color: #404040;
}

.error404 #primary {
    width: 100%;
}


iframe {
    width: 100%;
}

/* Giving Table the alternating colour */
.ItemTable tr:nth-child(odd)		{ background-color:#eee; }
.ItemTable tr:nth-child(even)		{ background-color:#fff; }



.td-align-right {
    text-align: right;
    font-weight: bold;
}

.td-align-left
{
    text-align: left;
    font-weight: normal;
}

/* Removing paddings from Parapgraphs */
.nopadding
{
    margin:0px;
    padding:0px;
}

.picture1
{
    widith:180px;
    height:120px;
}

.categoryheadingbackground
{

   background-color: #15305b;
    color: #ffffff;
    width: 100%;
}
.categoryheadingbackground a
{
    color: #ffffff;
}